.container{
    background-color: green;
    height: 700px;
    width: 1000px;
    margin: auto;
    padding: 50px;
    text-align: center;
}
.group_img{
    text-align: center;
    height: 500px;
    width: 900px;
    box-sizing: border-box;
}

img{
    margin: auto;
    display: block;

}